.byteleaf-dropzone {
  .byteleaf-dropzone-paragraph {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
  }

  .MuiChip-root {
    margin-bottom: 8px;
  }
}

.dropzone-error p {
  color: #f44336 !important;
}
